body{
	padding: 0 20px;
}

.text{
	text-align: left;
	width: 90%;
	padding-left: 30px;
	margin-bottom: 1.41575em;
	color: #4C4C4C;
	outline-color: #4C4C4C;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 1.6em !important;
}

.singleBody{
	width: 100%;
	margin: 0 auto;
}

.cell {
	box-shadow: 1px 1px 3px;
	border-radius: 5px;
}

div.progress, div.singleProgress {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 4px auto;

	max-width: 850px;
}
div.singleProgress{
	min-width: 200px;
	max-width: 300px;
	float: left;
	margin: 0 25px 10px 0;
}

div.badge {
	width: 100px;
	height: 70px;
	margin: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
}

div.badge > img {
	height: 90%;
}

span {
	color: white;
	font-weight: bold;
	text-shadow: black 0px 0px 5px;
}

input {
	max-width: 50px;
}