.cell {
	box-shadow: 1px 1px 3px;
	border-radius: 5px;
}

div.progress {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

div.badge {
	width: 100px;
	height: 70px;
	margin: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
}

div.badge > img {
	height: 90%;
}

span {
	color: white;
	font-weight: bold;
	text-shadow: black 0px 0px 5px;
}

input {
	max-width: 50px;
}
